
@media screen and (max-width: 750px) { 

	:root {
		--nav-width: 0;
	}

	.container {
		width: 100%;
	}

	.section-head {
		margin: 0 30px;
	}

	body {
		cursor: pointer; /* To register click event on iphone */
	}
		
	/*--------------------
					Nav
	--------------------*/

	nav {
		z-index: 10;
	}

	/* hidden nav */
	
	nav#hidden-nav {
		top: initial;
		bottom: 0;
		height: 60px;
		width: 60px;
		border-radius: 35px;
		margin: 25px;
		box-shadow: #151c3e 0px 0px 7px;
	}

	nav#hidden-nav ul li {
		margin-bottom: 5px;
	}

	/* viewable nav */

	nav#viewable-nav {
		width: 45%;
		min-width: 250px;
	}

	/*--------------------
					Jumbo
	--------------------*/

	.jumbo .container {
		align-items: inherit;
		width: 85%;
	}

	.jumbo .logo {
		margin: 20px 0;
	}

	.jumbo .cta {
		margin: 0 0 35px 0;
		flex-direction: column;
	}

	.jumbo .cta a {
		padding: 20px 0;
		text-align: center;
		width: 100%;
	}

	.jumbo .cta a:first-child {
		margin: 0 0 20px 0;
	}

	/*--------------------
			About
	--------------------*/

	#about .about-conference, .about-mic {
		padding: 0 30px;
	}

	/*--------------------
		 Footer
	--------------------*/

	footer .container .rows {
		margin: 50px 20px;
	}

	footer .rows .top {
		align-items: center;
	}

	footer .rows .bottom {
		flex-direction: column-reverse;
	}

	footer .bottom a.code-of-conduct {
		margin-top: 12px;
	}
	
}

@media screen and (max-width: 1055px) {
	/*--------------------
				Committee
	--------------------*/
	#committee .section-head {
		margin: 0 20px;
	}

	#committee .columns {
		flex-direction: column;
		padding: 20px 20px 0 20px;
	}

	#committee .columns .left, #committee .columns .right {
		width: 100%;
		margin: 0;
	}

	#committee .columns .right .member:first-child {
		margin-top: 0;
	}

	#committee .columns .member .title {
		font-size: 15px;
	}
}

/* For more compressed elements */

@media screen and (max-width: 1000px) { 
	/*--------------------
		Location Info
	--------------------*/
	
	#location-info .columns {
		flex-direction: column;
		align-items: center;
		padding: 50px 30px;
	}

	.columns .description, .columns .map {
		width: 100%;
		margin: 0;
	}

	.columns .description {
		margin-bottom: 30px;
		padding: 0;
	}

	.columns .description h3, .columns .description p {
		margin: 35px 25px;
	} 

	/*--------------------
		MIC Schools
	--------------------*/

	#mic-schools .section-head {
		margin-bottom: 15px;
	}

	.school-grid {
		flex-direction: column;
		padding: 0 30px;
	}

	.school-grid .school-tile {
		margin: 20px 0 0 0;
		width: 100%;
	}

	.school-tile .description {
		padding: 25px 0 15px 0;
	}
}

@media screen and (max-width: 370px) {
	#committee .columns .members, #committee .columns .member {
		flex-direction: column;
	}

	#committee .columns .member .title, #committee .columns .members .title {
		margin-bottom: 10px;
	}
}
