:root {
	--main-purple: #545f99;
}

body {
	font-family: 'Avenir', 'sans-serif';
}

a {
	color: var(--main-purple);
	text-decoration: underline;
}

header {
	margin: 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0;
}

header h1 {
	margin-bottom: 0;
}

header div {
	flex: 1;
}

header a img {
	width: 65px;
}

#view-pdf {
	position: absolute;
  top: 20px;
  right: 20px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

main {
	margin: 0 auto;
	margin-bottom: 40px;
	max-width: 850px;
}

main h2 {
	font-weight: 600;
	font-size: 26px;
}

main p {
	font-size: 16px;
}

/*section#schedule-by-room > div {
	width: 100%;
}*/

.event {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-top: 1px solid #000;
}

.event .desc p {
	margin: 0;
}

.event .desc .flex a {
	margin-right: 5px;
}

.event .desc .time {
	font-weight: 600;
}

.event .desc .speaker {
	font-style: italic;
}

.event .rooms {
	display: flex;
	align-items: center;
}

.guide {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background: #fff;
}

.room-key {
	display: flex;
	align-items: center;
}

.room-key, .room-icon {
	margin-right: 5px;
}

.room-key, p {
	margin-left: 5px;
}

.mpr, .ssr, .lh, .wgr {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-left: 5px;
}

.mpr {
	background: #ffae76;
}

.ssr {
	background: #ff688b;
}

.lh {
	background: #ff94d0;
}

.wgr {
	background: #d66fff;
}

/*--------------------
				Mobile
--------------------*/


@media screen and (max-width: 900px) {

	main {
		margin: 0 20px 20px 20px;
	}

}