html(lang="en")
	head
		title MIC Conference Call For Submissions
		meta(name="viewport" content="width=device-width")
		link(href="https://fonts.googleapis.com/css?family=Lato:100,400,700,900" rel="stylesheet")
		link(rel="stylesheet" href="stylesheets/style.css")
		link(rel="stylesheet" href="stylesheets/mobile.css")
		link(rel="stylesheet" href="stylesheets/call-for-submissions.css")
	body
		header
			a(href="/")
				img(src="images/mic-logo.png" alt="MIC Logo")
			h1 Machine Intelligence Conference Call for Submissions
		main
			#submission-policies
				h2 Submission Policies
				p
					| Machine Intelligence Conference 2018 invites students to submit research on machine intelligence to our inaugural conference. The goal of MIC 2018 is to provide students with a forum for sharing their work with other students, meet peers with related academic interests, and build community. The conference is open to those in industry and students in undergraduate, masters, and doctoral programs. Accepted abstracts will advance to the conference track for the poster session.
				p
					| Submissions for the abstract and conference tracks should be in PDF format, and be submitted no later than September 1st, and October 1st respectively. There is a strict one submission limit to the MIC 2018 Abstract and Conference Tracks.
				p
					| Please contact us if you have questions about registration or need clarification on submissions:
				#contact-info
					p
						strong General Inquiries: 
						a(href="mailto:conference@machineintelligence.cc") conference@machineintelligence.cc
					p
						strong Workshop Coordinator: 
						a(href="mailto:danpechi@machineintelligence.cc") danpechi@machineintelligence.cc
			#abstracts
				.p-btn-head
					h2 Abstracts
					a.cta-button(href="https://openreview.net/group?id=machineintelligence.cc/MIC/2018/Abstract") Submit to Abstract Track
				p
					| Submissions must be no longer than 2 pages including references. Students should submit an abstract on OpenReview in the Abstract Track. Abstract submissions should include the following: title; the applicant's full name, affiliation, graduation year, and e-mail address; all coauthors' full names and affiliations; text; and any figures, tables, or diagrams. Any supplemental material relating to the abstract including videos, datasets, or software is also welcomed.
			#conference
				.p-btn-head
					h2 Conference
					a.cta-button(href="https://openreview.net/group?id=machineintelligence.cc/MIC/2018/Conference") Submit to Conference Track
				p
					| Abstract submissions approved by the review team will be given presentation time and space at the conference's poster session. Student authors will be contacted by conference organizers regarding acceptance to the conference track on a rolling basis. Posters must be 36 by 48 inches and should be submitted on OpenReview in the Conference Track.
			#acceptance-policies
				h2 Acceptance Policies
				p
					| Only original research will be accepted to the conference. Results may be either empirical, theoretical, algorithmic, or some combination thereof. Submissions will be judged on their technical quality, novelty, and clarity. Only results that are objectively established will be considered for the conference. Students should verify the dual submission policies of other conferences and journals they have submitted research to before submitting to MIC 2018.  Students are welcome to submit research that has been submitted to other conferences or journals, as long as these journals or conferences allow for dual submissions.
