html(lang="en")
	head
		title MIC Conference Speakers - Nov. 3rd, 2018
		link(href="https://fonts.googleapis.com/css?family=Lato:100,400,700,900" rel="stylesheet")
		link(rel="stylesheet" href="../stylesheets/style.css")
		link(rel="stylesheet" href="../stylesheets/mobile.css")
		link(rel="stylesheet" href="../stylesheets/speakers.css")
	
	main
		header
			a(href="/")
				img(src="../images/mic-logo.png" alt="MIC Logo")
			h1=speaker.name
		section
			h3 Bio:
			p.bio!=speaker.bio
			if speaker.title
				.speakers-talk
					h3 Title:
					p.title!=speaker.title
					if speaker.abstract
						h3 Abstract:
						p.abstract!=speaker.abstract