html(lang="en")
	head
		title MIC Conference Sponsor Form - Submitted
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="stylesheets/style.css")
		link(rel="stylesheet" href="stylesheets/mobile.css")
		link(rel="stylesheet" href="stylesheets/form.css")
	body
		header
			a(href="/")
				img(src="images/mic-logo.png" alt="MIC Logo")
		main
			p(style="text-align:center") The form has been submitted. Can't wait to see you at the conference! Feel free to reach out to 
				a(href="mailto:conference@machineintelligence.cc") conference@machineintelligence.cc 
				| if you have any questions or concerns.